CONNECTING TO DATABASE

In [27]:
import mysql.connector

sales_data = mysql.connector.connect(host="localhost", user="root", passwd="lgl90d410", database="project")

MAKING TEST TABLE

In [28]:
mySql_Create_Table_Query = """CREATE TABLE Laptop ( 
                             Id int(11) NOT NULL,
                             Name varchar(250) NOT NULL,
                             Price float NOT NULL,
                             Purchase_date Date NOT NULL,
                             PRIMARY KEY (Id)) """

cursor = sales_data.cursor()
result = cursor.execute(mySql_Create_Table_Query)
print("Laptop Table created successfully ")

Laptop Table created successfully

In [29]:
test_query = '''DROP TABLE Laptop'''
cursor.execute(test_query)

In [30]:
test_query = '''SELECT MRP 
                FROM cleaned_data 
                WHERE Size = 44 '''
tt = cursor.execute(test_query)

In [32]:
records = cursor.fetchall()
print("Total number of rows in table: ", cursor.rowcount)

Total number of rows in table:  26

In [36]:
for row in records:
    print(row)

(3199.0,)
(2099.0,)
(3699.0,)
(3299.0,)
(3199.0,)
(2599.0,)
(3199.0,)
(3299.0,)
(3199.0,)
(1649.0,)
(2799.0,)
(3299.0,)
(2399.0,)
(3299.0,)
(1999.0,)
(1799.0,)
(2399.0,)
(1.0,)
(1999.0,)
(2199.0,)
(2199.0,)
(1499.0,)
(1999.0,)
(3999.0,)
(4499.0,)
(2199.0,)

In [41]:
import pandas as pd
recordsdf = pd.DataFrame(records)
recordsdf.to_csv("testing.csv", index=False)

In [43]:
recordsdf.rename( columns={0 :'MRP'}, inplace=True )

In [44]:
recordsdf.to_csv("testing.csv", index=False)

In [54]:
recordsdf.sort_values('MRP')
recordsdf

       MRP
0   3199.0
1   2099.0
2   3699.0
3   3299.0
4   3199.0
5   2599.0
6   3199.0
7   3299.0
8   3199.0
9   1649.0
10  2799.0
11  3299.0
12  2399.0
13  3299.0
14  1999.0
15  1799.0
16  2399.0
17     1.0
18  1999.0
19  2199.0
20  2199.0
21  1499.0
22  1999.0
23  3999.0
24  4499.0
25  2199.0

In [59]:
recordsdf =recordsdf.to_dict(orient='list')

In [60]:
import json

with open("mrp.json", mode="w") as mrp:
    json.dump(recordsdf, mrp, indent=4)